---
layout: page
---
<label for="amount">Portionen:</label>
<input type="number" id="amount" value="{{ page.portions | default: 2 }}" min="1" onchange="updateZutaten()">

{{ content }}

{% if page.source %}
<a href="{{ page.source }}">Quelle</a>
{% endif %}

<script>
function updateZutaten() {
  const amount = parseFloat(document.getElementById("amount").value) || 1;
  const elements = document.querySelectorAll("span[base]");

  elements.forEach(el => {
    const base = parseFloat(el.getAttribute("base"));
    if (!base) {
      return;
    }
    el.textContent = (base * amount).toFixed(1).replace(/[.,]0$/, "");
  });
}
updateZutaten()
</script>